html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  height: 100%;
}

.app_title {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10%;
  left: 5%;
  z-index: 10;
  h1 {
    margin: 0;
  }
}

.lil-gui {
  width: 5vw;
  top: 1% !important;
  right: 1% !important;
  border-radius:10px;
  overflow: hidden;

  .title {
    font-size: 16px;
  }
  
  .controller {
    padding: 10px;
    margin: 0;
  }

  .widget {
    display: block;
    height: none;
  }
  button {
    min-height: 50px;
  }

  .name {
    font-size: 16px;
  }
}